body {
  background-color: rgb(5, 18, 40);
  margin: 0;
  font-family: Arial, sans-serif;
}
.weather {
  background-image: url('https://media.istockphoto.com/id/1212286244/vector/beautiful-landscape-with-mountains-night-scene.jpg?s=612x612&w=0&k=20&c=cfQjsuwdwXqUXoubRCIqKK6f05QXiwWrT2bdb9XtdQU=');
  border-radius: 40px;
  height: auto;
  min-height: 600px;
  padding: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 800px;
  margin-top: 10px;
}

.search-bar {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: 60%;
  max-width: 300px;
}

button {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  color: rgb(13, 6, 6);
  font-size: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 18px;

}

button:hover {
  background-color: #3c4d5f;
}

.weather-info {
  margin-top: 20px;
}

.temperature {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.temp {
  font-size: 2rem;
  color: #fff;
}

.location {
  font-size: 2rem;
  color: #f0f0f0;
  font-family: 'Cambria', serif;
  margin-top: 10px;
}

.humidity-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.humidity-info p {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  margin-right: 10px;
}

.humidity-info span {
  font-size: 1.2rem;
  color: #f0f0f0;
}
